<h1>Index</h1>
<p>Hello, <%= $user_name %></p>

<%= link_to "Turn to tech", "http://turntotech.io/" %><br>
<%= image_tag "abc.jpg", :width => 500, :height => 300 %><br>

<p><%= link_to "Log out", logout_path %></p>









